# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Builds y generados
dist/
dist-ssr/
*.local

# Editores y sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos comprimidos (para que no subas el .zip viejo)
*.zip

# Carpetas de borradores/referencias
src/imports/
